

<div class="field">
  <label for="title">Title</label>
  <input type="text" name="title" value="<%= title %>">
</div>
<div class="field">
  <label for="num_pages">Number of Pages</label>
  <input type="number" name="num_pages" value="<%= num_pages %>">
</div>
<div class="actions">
  <input type="submit" value="Save">
</div>